#homepage{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


#homepage>.areas-atuantes {
    width: 100%;
    padding: 100px;
    justify-content: flex-start;

    background-color: black;
    color: red;

}

#homepage>.areas-atuantes>h3 {
    color: yellow;

}


#homepage>.areas-atuantes>.atuacao-container>.atuacao-card {
    background-color: white;
}